@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Cormorant', serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-img-top{
    width: 200px;
    height: 300px;
}

/* navigation bar links */

.wrap {
    font-family: 'Cormorant', serif;
    text-align: center;
}

.wrap ul li a {
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    background: #000;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
}

.wrap ul li a:after {
    position: absolute;
    content: "";
    background: #fff;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    width: 104%;
    height: 110%;
    left: -2%;
    top: -5%;
    /* if the font is 'Oswald'*/
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    animation: rotate 1.5s linear infinite;
    transition: transform 0.3s ease;
}

.wrap ul li a:hover:after {
    transform: scaleY(1);
}

.wrap ul li a:hover {
    color: #fff;
}

/* introduction section */
.intro-par {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    /* width: 100vh; */
    /* transform: translate(-50%, -50%); */
    font-size: 3rem;
    font-family: 'Cormorant', serif;
    /* text-align: center; */

}

/* my name heading */
.main-heading {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #0FFD35;
}

.card-left {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    overflow: hidden;
    width: 600px;
}

.inner-card-left {
    background-color: #2A265F;
    color: #fff;
    padding: 20px;
    max-width: 250px;
}






/* section headings */
.name-head {
    font-size: 1.5rem;
    color: #90d7ff;
    word-spacing: 2px;
    font-family: 'Cormorant', serif;

}

/* introductory paragraph */


/* Body paragraphs */
.pars {
    color: white;
    font-size: 1.6rem;
    text-align: left;
    word-spacing: 2.5px;
    font-family: 'Raleway', sans-serif;

}

.fonting {
    font-family: 'Raleway', sans-serif;

}

.fonting-heads {
    font-family: 'Cormorant', serif;
    font-size: 30px;

}

/* Resume circles with downloadable cv */
.outer {
    background-color: #010a0f;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 2px solid #0FFD35;
    border-style: double dashed;
    float: right
}

.center-f-inside {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0FFD35;


}

.inner {
    background-color: #010a0f;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    border: 2px solid #0FFD35;
    border-style: dashed;
}


/* contact, location and copyright details */
.close {
    color: white;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
}

.crights {
    /* font-size: 1.2em; */
    font-family: 'Cormorant', serif;
    color: #90d7ff;
    font-size: 1.2em;
    font-family: 'Cormorant', serif;

}

/* Stack logos for various languages and frameworks */
.skills {
    margin: 10px;
    height: 4rem;
    transition: height 3s;

}

/* .skills:hover {
    height: 5rem;
} */

.stack {
    margin-bottom: 40px;
}


/* name initials WK with code signs */
.navbar-brand {
    font-family: 'Courier New', Courier, monospace;
    color: #90d7ff;
    margin: 1rem;
}

/* Stack description on mouse hover */
.tool-tip {
    color: #0FFD35;
    position: static;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    display: inline-block;
    transition: font-size 2s;
}

/* Carousel image sizes */
.d-block {
    height: auto;
    width: auto;
    margin-bottom: 2rem;
}

/* cv text styling */
.cv {
    text-decoration: none;
    font-family: 'Cormorant', serif;
    color: #90d7ff;
    font-size: 1.3em;

}

/* media queries for phone size devices */
@media (max-width: 640px) {
    .skills {
        margin: 7px;
        height: 3rem;
        transition: height 3s;

    }

    .skills:hover {
        height: 4rem;
    }

    .link {
        font-size: 1.2rem;
        font-weight: 400;
        color: #90d7ff;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 10px;
        text-decoration: none;
        font-family: 'Cormorant', serif;
        transition: font-size 2s;
    }

    .link:hover {
        color: #0FFD35;
        font-size: 1.3rem;
    }

    .link:active {
        color: blue;
    }

    .close {
        color: white;
        font-size: 1.2em;
        font-family: 'Raleway', sans-serif;
    }

    .intro-par {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35vh;
        width: 50vh;
        /* transform: translate(-50%, -50%); */
        font-size: 2rem;
        font-family: 'Cormorant', serif;
        text-align: left;

    }
}
